//- Footer
footer.mdl-mini-footer
      .mdl-mini-footer__left-section
        .mdl-logo Raccourcis :
        //- Liste
        ul.mdl-mini-footer__link-list
          li
            a(href="problematiques").
              Problématiques recontrées
          li
            a(href="authentification").
              S'authentifier
